/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/* Layout */

#posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    padding: 0.5rem;
    .post {
        display: grid;
        gap: 0.5rem;
        border-radius: 5px;
        background-color: #001F3F;
        color: white;
        padding: 0.5rem;
        .post-action {
            font-size: large;
            line-height: 2rem;
        }
    }
}

@media (min-width: 500px) {
    .post {
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto 1fr;
        .post-title {
            grid-column: 1;
            grid-row: 1;
        }
        .edit-button {
            grid-column: 2;
            grid-row: 1;
        }
        .delete-button {
            grid-column: 3;
            grid-row: 1;
        }
        .post-body {
            grid-column: 1 / 4;
            grid-row: 2;
        }
        .post-comments {
            background-color: white;
            color: black;
            text-align: center;
            font-size: small;
            padding-bottom: 2rem;
            .comment-section-title {
                text-align: right;
            }
        }
    }
}


/* Other Style */

button {
    cursor: pointer;
}


/* Forms */

#new-post-form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
}


/* Fonts */